{% extends 'base.html.twig' %}

{% block title %}Восстановление пароля{% endblock %}

{% block page_content %}

<h1>Восстановление пароля</h1>
<form method="POST" action="/updatepassword">
<label for="inputPassword">Новый пароль</label>*
<input type="password" name="password" id="inputPassword" class="form-control" required>

<input type="hidden" name="email" value="{{ email }}">
<input type="hidden" name="token" value="{{ token }}">
<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

<br><button class="btn">Сменить</button>
</form>
{% endblock %}
